@model TAN.DomainModels.ViewModels.OrganizationViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using TAN.DomainModels.Helpers;
@{
    var mylayout = Context.Session.GetString("SelectedApp");
    if (mylayout != "Inventory" && mylayout != "Reporting")
    {
        Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    }
    else if (mylayout != "Inventory" || mylayout == "Reporting")
    {
        Layout = "~/Views/Shared/_LayoutTelecom.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutInventory.cshtml";
    }
}

<div class="page-breadcrumb pt-2">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">Organization</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Organization</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-7 align-self-center">
            @if ((AuthorizationService.AuthorizeAsync(User,
            Permissions.Organization.PBJSnapCreate)).Result.Succeeded)
            {
                <div class="d-flex no-block justify-content-end align-items-center">
                    <button type="button" id="btnAddOrganization" class="btn waves-effect waves-light btn-secondary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#OrganizationModal">
                        <i class="ri-add-line pe-1"></i>
                        New Organization
                    </button>
                </div>
            }
        </div>
    </div>
</div>
<div class="container-fluid main-content-height pt-0">
    <div class="row">
        <div class="col-xl-12">
            <div class="accordion accordion-flush border-bottom" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed fs-4 rounded-0 d-flex py-2"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne"
                                aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            <i class="ri-filter-line pe-1"></i> <span class="pt-1">Filter</span>
                        </button>
                    </h2>
                    <div id="flush-collapseOne"
                         class="accordion-collapse collapse"
                         aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body bg-light">
                            <div class="live-preview">
                                <div class="row g-3 mb-4 align-items-end custom-select-arrow">
                                    <div class="col-md-6 col-sm-12 col-lg-3 overlap-input-field">
                                        <label for="placeholderInput" class="form-label">Service Type</label>
                                        <div class="clearfix"></div>
                                        <select id="ServiceSelectBoxFilter" class="select2">
                                            <option value="0">Select Service Type</option>
                                            <option value="1">Voice</option>
                                            <option value="2">Data</option>
                                        </select>
                                    </div>

                                    <div class="col-xxl-3 col-lg-4 col-xl-4 col-md-6 d-flex align-items-end">
                                        <div class="d-flex gap-1 flex-wrap">
                                            <button id="btnSearch" type="button" class="btn waves-effect waves-light btn-info me-2" fdprocessedid="8hkutvc"> <i class="ri-equalizer-fill me-1 align-bottom"></i> Apply Filters</button>
                                            <div class="d-flex gap-1 flex-wrap">
                                                <button id="btnClear" type="button" class="btn btn-secondary d-flex justify-content-center align-items-center" fdprocessedid="j8azn"> <i class="ri-refresh-line me-1"></i> Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table display table-bordered table-striped no-wrap w-100" id="orgTable">
                            <thead>
                                <tr>
                                    <th>Organization Name</th>
                                    <th>Organization Email</th>
                                    <th>Primary Phone</th>
                                    <th>State</th>
                                    <th>Service Type</th>
                                    <th>Actions</th>
                                    <th>Manage Facilities</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add and Edit Form -->
<div class="modal fade" id="OrganizationModal" tabindex="-1" aria-labelledby="OrganizationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header modal-colored-header bg-info text-white py-2">
                <h5 class="modal-title" id="OrganizationModalLabel">Add Organization</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body pt-0">
                <partial name="~/Views/Organization/_OrganizationForm.cshtml" model="Model" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_CommonScriptsPartial" />
        <script src="~/scripts/Organization.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#OrganizationModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                loadOrganizationData();
                initSelect2ForOrganization();

                $('#organizationState').on('select2:select', function () {
                    var errorId = $(this).data('error-id');
                    var errorSpan = $('#' + this.id).nextAll('span.text-danger:first');
                    errorSpan.text('');
                });

                $('#ServiceSelectBox').on('select2:select', function () {
                    var errorId = $(this).data('error-id');
                    var errorSpan = $('#' + this.id).nextAll('span.text-danger:first');
                    errorSpan.text('');
                });

                $('#ServiceSelectionDiv').hide();
                $('#ServiceSelectionTypeDiv').hide();

                let checkbox = document.getElementById('bandwidthAccessChkBox');
                checkbox.addEventListener('change', function () {
                    // This function will be called when the checkbox is checked or unchecked
                    if (checkbox.checked) {
                        showServiceSelectionTypeDiv();
                    } else {
                        $('#ServiceSelectionTypeDiv').hide();
                        document.getElementById("ServiceSelectionDiv").style.display = "none";
                        $('#ServiceSelectBox').val(null).trigger('change');
                    }
                });
            });

            $('#btnSaveOrganization').click(function (e) {
                if (validateOrganizationForm()) {
                    saveOrganization();
                }
            });

            $('#btnUpdateOrganization').click(function (e) {
                if (validateOrganizationForm()) {
                    updateOrganization();
                }
            });

            $('#btnClose').click(function (e) {
                clearOrganizationData();
            });

            $('#btnAddOrganization').click(function (e) {
                clearOrganizationData();
            });

            $('#btnClear').click(function (e) {
                clearFilter();
                $('#orgTable').dataTable().fnDestroy();
                loadOrganizationData();
            });

            $('#btnSearch').click(function (e) {
                $('#orgTable').dataTable().fnDestroy();
                loadOrganizationData();
            });

        </script>
    }
}

