<div class="py-2 border-bottom title-part-padding d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column">
        <h4 class="card-title mb-0">Call Summary Report</h4>
    </div>
    
    <button type="button" onclick="return DownloadCallDetailsCSV()" class="btn waves-effect waves-light btn-info d-flex btn-sm">
        <i class="ri-upload-line pe-1"></i>Export
    </button>
</div>
<div class="card-body">
    <div class="table-responsive m-t-40">
        <table id="BandwidthCallDetailsTable" class="table display table-bordered table-striped no-wrap mb-0 w-100 dataTable call-details-report-table">
            <thead>
                <tr>
                    <th class="sub-account-name-th">Sub Account Name</th>
                    <th class="start-time-th">Start Time (UTC)</th>
                    <th class="end-time-th">End Time (UTC)</th>
                    <th class="duration-th">Duration</th>
                    <th class="calling-number-th">Calling Number</th>
                    <th class="called-number-th">Called Number</th>
                    <th class="call-direction-th">Call Direction</th>
                    <th class="call-type-th">Call Type</th>
                    <th class="call-result-th">Call Result</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>