@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800");
.logo-wrapper {
  width: 220px;
}
.logo-wrapper img {
  width: 100%;
  object-fit: cover;
}

.left-image {
  width: 400px;
}
.left-image img {
  width: 100%;
  object-fit: cover;
}

.auth-wrapper {
  /* necessary to give position: relative to parent. */
}
.auth-wrapper input[type=text] {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.03) !important;
}
.auth-wrapper :focus {
  outline: none;
}
.auth-wrapper .form-group {
  position: relative;
}
.auth-wrapper .inputFocus {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.03) !important;
}
.auth-wrapper .inputFocus ~ .focus-border:before,
.auth-wrapper .inputFocus ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2962ff;
  transition: 0.3s;
}
.auth-wrapper .inputFocus ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
.auth-wrapper .inputFocus ~ .focus-border i:before,
.auth-wrapper .inputFocus ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #2962ff;
  transition: 0.4s;
}
.auth-wrapper .inputFocus ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.auth-wrapper .inputFocus:focus ~ .focus-border:before,
.auth-wrapper .inputFocus:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}
.auth-wrapper .inputFocus:focus ~ .focus-border i:before,
.auth-wrapper .inputFocus:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}
.auth-wrapper .progress-barWrapper {
  width: 100%;
  height: 5px;
  background: #F6F6FA;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 5px;
}
.auth-wrapper .progressBar-text {
  display: inline-block;
  color: #aaa;
  margin-left: 5px;
  transition: 0.2s;
}
.auth-wrapper .form .progressBar-item {
  display: inline-block;
  height: 100%;
  width: 32.5%;
  margin-right: 0.8%;
  border-radius: 5px;
  float: left;
  transition: background-color 0.2s, visisility 0.1s;
}
.auth-wrapper .form .progressBar-itemA.active {
  background-color: #FF4B47;
}
.auth-wrapper .form .progressBar-itemB.active {
  background-color: #F9AE35;
}
.auth-wrapper .form .progressBar-itemC.active {
  background-color: #2DAF7D;
}
.auth-wrapper .showPsw {
  position: absolute;
  top: 15px;
  right: 14px;
  cursor: pointer;
}
.auth-wrapper .showPsw:hover {
  color: #2962ff;
}

.social-icons-title::before {
  background-position: center left;
}
.social-icons-title::after {
  background-position: center right;
}
.social-icons-title::before, .social-icons-title::after {
  content: "";
  background-image: linear-gradient(#bbb8b8, #f3f3f3);
  flex-grow: 1;
  background-size: calc(100% - 20px) 1px;
  background-repeat: no-repeat;
}

.logo-footer-wrapper {
  /*position: absolute;
  bottom: 20px;*/
}
.logo-footer-wrapper .logo-footer {
  width: 140px;
}
.logo-footer-wrapper .logo-footer img {
  width: 100%;
  object-fit: cover;
}
.logo-footer-wrapper .logo-sidebar-footer {
  width: 130px;
}
.logo-footer-wrapper .logo-sidebar-footer img {
  width: 100%;
  object-fit: cover;
}

.line-1-login {
  background-color: #ddd !important;
  width: 25% !important;
  height: 1px !important;
}

.line-2-login {
  background-color: #ddd !important;
  width: 25% !important;
  height: 1px !important;
}

.otp-input {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
}

.otp-input:focus {
  border: 2px solid #2962ff !important;
}

.img-left-screens {
  width: 100%;
}

.main-content-height {
  min-height: calc(100vh - 115px) !important;
}

.table-search.form-control {
  width: unset !important;
}

.accordion-button {
  background-color: rgba(41, 98, 255, 0.1);
}

.accordion-button:not(.collapsed) {
  background-color: rgba(41, 98, 255, 0.1);
}

.scroll-sidebar {
  height: calc(100% - 53px);
  position: relative;
}

.sidebar-nav ul .sidebar-item .sidebar-link {
  padding: 10px 15px !important;
}

.preloader .lds-ripple {
  width: 100px;
  height: 100px;
}
.preloader svg {
  width: 100%;
}
.preloader .st0 {
  fill: yellow;
}
.preloader .st1 {
  fill: none;
  stroke: #58595B;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.preloader .st2 {
  fill: none;
  opacity: 0.5;
  stroke: #58595B;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.preloader #one {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s 0.1s infinite;
  animation: line-glow 1s 0.1s infinite;
}
.preloader #two {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s 0.2s infinite;
  animation: line-glow 1s 0.2s infinite;
}
.preloader #three {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s 0.3s infinite;
  animation: line-glow 1s 0.3s infinite;
}
.preloader #four {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s 0.4s infinite;
  animation: line-glow 1s 0.4s infinite;
}
.preloader #five {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s 0.5s infinite;
  animation: line-glow 1s 0.5s infinite;
}
.preloader #six {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s 0.6s infinite;
  animation: line-glow 1s 0.6s infinite;
}
.preloader #seven {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s 0.7s infinite;
  animation: line-glow 1s 0.7s infinite;
}
.preloader #bulb-body-fill {
  -webkit-animation: bulb-on 1s ease infinite;
  animation: bulb-on 1s ease infinite;
}
@-webkit-keyframes line-glow {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
}
@keyframes line-glow {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
}
@-webkit-keyframes bulb-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bulb-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebar-nav .has-arrow::after {
  top: 22px;
}

.select2PayType .select2-container {
  width: 100% !important;
  z-index: 1 !important;
}

.modal {
  /*z-index: 9999;*/
}
.modal .select2 + .form-control {
  background-color: #fff;
  border: 0;
  padding: 0;
  width: 100% !important;
}
.modal .select2-container--default .select2-selection--multiple {
  border-color: #e9ecef !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 35px;
  line-height: 17px;
  overflow-y: auto;
}
.modal .select2-container--classic .select2-selection--multiple .select2-selection__choice, .modal .select2-container--default .select2-selection--multiple .select2-selection__choice, .modal .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  background-color: #2962ff !important;
  border-color: #2962ff !important;
  color: #fff !important;
  line-height: 23px;
}
.modal .select2-container--classic .select2-selection--single, .modal .select2-container--default .select2-selection--single, .modal .select2-container--default .select2-selection--single .select2-selection__arrow, .modal .select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 35px;
}
.modal .select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 4px !important;
}
.modal .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}
.modal #agencyFacilityName + .select2-container {
  width: 100% !important;
  z-index: 999 !important;
}
.modal .select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: -2px !important;
}

.overlap-input-field .select2-container {
  width: 100% !important;
  z-index: 1 !important;
}

.select2-container {
  width: 100% !important;
  z-index: 9999 !important;
}

.select2-container--default .select2-selection--single {
  border-color: #e9ecef !important;
  height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 2px !important;
}

.btn-wrapper {
  position: absolute;
  top: -66px;
  right: 0;
}

.btn-wrapper-new {
  position: absolute;
  top: -100px;
  right: 0;
}

nav .breadcrumb {
  flex-wrap: unset !important;
}

.change-passw-wrapper .auth-wrapper {
  min-height: 76vh;
}
.change-passw-wrapper .auth-wrapper .auth-box {
  max-width: 850px;
  width: 100%;
  margin: 0% 0;
}
.change-passw-wrapper .auth-wrapper .auth-box .instructions-sets.instructionSet-wrapper {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 2px dashed #e9ecef;
}
.change-passw-wrapper .auth-wrapper .auth-box .instructions-sets.instructionSet-wrapper:hover {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 2px dashed #2962ff;
}
.change-passw-wrapper .auth-wrapper .auth-box .instructions-sets:hover {
  background-color: #f8f9fa;
}

.pass-instruction-sets.instructionSet-wrapper {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 2px dashed #e9ecef;
}
.pass-instruction-sets.instructionSet-wrapper:hover {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 2px dashed #2962ff;
}

.passInstLogo-wrapper img {
  width: 100%;
  object-fit: cover;
}

.mapdata-table-wrapper .table-responsive, .pview-data-wrapper .table-responsive {
  max-height: 1022px;
  overflow-y: auto;
}

.mapdata-table-wrapper .mapping-table th {
  padding: 14px 20px 5px !important;
}
.mapdata-table-wrapper .mapping-table td {
  padding: 7px 20px !important;
}
.mapdata-table-wrapper .mapping-table tbody tr {
  border: 9px solid #f8f9fa;
}
.mapdata-table-wrapper .mapping-table tbody tr td {
  background-color: #fff;
}
.mapdata-table-wrapper .mapping-table tbody tr td:first-child, .mapdata-table-wrapper .mapping-table tbody tr td:last-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.mapdata-table-wrapper .mapping-table tbody tr td .form-select {
  line-height: 1;
}
.mapdata-table-wrapper .mapping-table tbody tr.space-wrapper-tblrow td.space {
  padding: 0 !important;
  height: 7px;
  border-radius: 0 !important;
  background: transparent !important;
  border: 0;
}

.input-file {
  max-width: 380px;
  margin: 0 auto;
}

.input-file__drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e9ecef;
  transition: 0.3s;
}
.input-file__drop-area.is-active {
  background-color: #eef5f9;
}
.input-file__drop-area .input-file__choose-file {
  flex-shrink: 0;
  background-color: #1d3557;
  border-radius: 100%;
  margin-right: 10px;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-file__drop-area .input-file__choose-file svg {
  width: 16px;
  height: 16px;
  display: block;
}
.input-file__drop-area .input-file__msg {
  color: #1d3557;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input-file__drop-area .input-file__input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.input-file__drop-area .input-file__delete {
  display: none;
  position: absolute;
  right: 10px;
  width: 18px;
  height: 19px;
  cursor: pointer;
}
.input-file__drop-area .input-file__delete:before {
  content: "";
  position: absolute;
  left: 0;
  transition: 0.3s;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%231d3557' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 438.5 438.5'%3e%3cpath d='M417.7 75.7A8.9 8.9 0 00411 73H323l-20-47.7c-2.8-7-8-13-15.4-18S272.5 0 264.9 0h-91.3C166 0 158.5 2.5 151 7.4c-7.4 5-12.5 11-15.4 18l-20 47.7H27.4a9 9 0 00-6.6 2.6 9 9 0 00-2.5 6.5v18.3c0 2.7.8 4.8 2.5 6.6a8.9 8.9 0 006.6 2.5h27.4v271.8c0 15.8 4.5 29.3 13.4 40.4a40.2 40.2 0 0032.3 16.7H338c12.6 0 23.4-5.7 32.3-17.2a64.8 64.8 0 0013.4-41V109.6h27.4c2.7 0 4.9-.8 6.6-2.5a8.9 8.9 0 002.6-6.6V82.2a9 9 0 00-2.6-6.5zm-248.4-36a8 8 0 014.9-3.2h90.5a8 8 0 014.8 3.2L283.2 73H155.3l14-33.4zm177.9 340.6a32.4 32.4 0 01-6.2 19.3c-1.4 1.6-2.4 2.4-3 2.4H100.5c-.6 0-1.6-.8-3-2.4a32.5 32.5 0 01-6.1-19.3V109.6h255.8v270.7z'/%3e%3cpath d='M137 347.2h18.3c2.7 0 4.9-.9 6.6-2.6a9 9 0 002.5-6.6V173.6a9 9 0 00-2.5-6.6 8.9 8.9 0 00-6.6-2.6H137c-2.6 0-4.8.9-6.5 2.6a8.9 8.9 0 00-2.6 6.6V338c0 2.7.9 4.9 2.6 6.6a8.9 8.9 0 006.5 2.6zM210.1 347.2h18.3a8.9 8.9 0 009.1-9.1V173.5c0-2.7-.8-4.9-2.5-6.6a8.9 8.9 0 00-6.6-2.6h-18.3a8.9 8.9 0 00-9.1 9.1V338a8.9 8.9 0 009.1 9.1zM283.2 347.2h18.3c2.7 0 4.8-.9 6.6-2.6a8.9 8.9 0 002.5-6.6V173.6c0-2.7-.8-4.9-2.5-6.6a8.9 8.9 0 00-6.6-2.6h-18.3a9 9 0 00-6.6 2.6 8.9 8.9 0 00-2.5 6.6V338a9 9 0 002.5 6.6 9 9 0 006.6 2.6z'/%3e%3c/svg%3e");
}
.input-file__drop-area .input-file__delete:after {
  content: "";
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #1d3557;
  border-radius: 50%;
  transition: 0.3s;
}
.input-file__drop-area .input-file__delete:hover:after {
  transform: translate(-50%, -50%) scale(2.2);
  opacity: 0.1;
}

.img-responsive {
  width: 100%;
}

.table > :not(caption) > * > * {
  padding: 0.3rem 1rem !important;
  vertical-align: middle;
}

.action-btn {
  padding: 0px;
}

.modal-xl-calendar {
  max-width: 1043px !important;
  margin: 1.75rem !important;
}

.modal-date-picker {
  right: 0 !important;
  width: unset !important;
  left: unset !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 500px) and (max-width: 575.98px) {
  .btn-wrapper {
    top: -70px !important;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .cpassw-form.pe-4 {
    padding-right: 3rem !important;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets {
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    padding: 18px 0 !important;
    border-top: 2px dashed #f8f9fa !important;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets:hover {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-top: 2px dashed #2962ff !important;
    background-color: #f8f9fa;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets.justify-content-start {
    justify-content: center !important;
  }
  .pass-instruction-sets {
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    padding: 18px 0 !important;
    border-top: 2px dashed #f8f9fa !important;
  }
  .pass-instruction-sets:hover {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-top: 2px dashed #2962ff !important;
  }
  .pass-instruction-sets.justify-content-start {
    justify-content: center !important;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
  .leftbar-info .w-50 {
    width: 30% !important;
  }
  .select2-container {
    width: auto !important;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .cpassw-form.pe-4 {
    padding-right: 3rem !important;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets {
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    padding: 18px 0 !important;
    border-top: 2px dashed #f8f9fa !important;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets:hover {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-top: 2px dashed #2962ff !important;
    background-color: #f8f9fa;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets.justify-content-start {
    justify-content: center !important;
  }
  .pass-instruction-sets {
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    padding: 18px 0 !important;
    border-top: 2px dashed #f8f9fa !important;
  }
  .pass-instruction-sets:hover {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-top: 2px dashed #2962ff !important;
  }
  .pass-instruction-sets.justify-content-start {
    justify-content: center !important;
  }
}
@media (min-width: 768px) and (max-width: 912px), (min-width: 913px) and (max-width: 991px) {
  .change-passw-wrapper .auth-wrapper .auth-box .cpassw-form.pe-4 {
    padding-right: 3rem !important;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets {
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    padding: 18px 0 !important;
    border-top: 2px dashed #f8f9fa !important;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets:hover {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-top: 2px dashed #2962ff !important;
    background-color: #f8f9fa;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets.justify-content-start {
    justify-content: center !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .leftbar-info .w-50 {
    width: 65% !important;
  }
}
@media (max-width: 575.98px) {
  .logo-footer-wrapper {
    width: 95%;
  }
  .left-image {
    width: 100%;
  }
  .btn-wrapper {
    top: -49px;
  }
  .select2-container {
    width: auto !important;
  }
}
@media (max-width: 991px) {
  .logo-footer-wrapper {
    width: 98%;
  }
}
@media (min-width: 768px) {
  #main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .sidebar-nav .has-arrow:after, #main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .sidebar-nav .hide-menu, #main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .left-sidebar .hide-menu {
    display: none !important;
  }
  #main-wrapper[data-layout=vertical][data-sidebartype=mini-sidebar] .left-sidebar:hover .hide-menu {
    display: flex !important;
  }
  .btn-wrapper {
    margin-top: 1rem !important;
  }
}
@media (max-width: 912px) {
  .change-passw-wrapper .auth-wrapper .auth-box .cpassw-form.pe-4 {
    padding-right: 3rem !important;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets {
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    padding: 18px 0 !important;
    border-top: 2px dashed #f8f9fa !important;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets:hover {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-top: 2px dashed #2962ff !important;
    background-color: #f8f9fa;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets.justify-content-start {
    justify-content: center !important;
  }
  .pass-instruction-sets {
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    padding: 18px 0 !important;
    border-top: 2px dashed #f8f9fa !important;
  }
  .pass-instruction-sets:hover {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-top: 2px dashed #2962ff !important;
  }
  .pass-instruction-sets.justify-content-start {
    justify-content: center !important;
  }
}
@media (min-width: 992px) {
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 2px dashed #e9ecef;
    padding: 18px 24px !important;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets:hover {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 2px dashed #2962ff;
    background-color: #f8f9fa;
  }
  .change-passw-wrapper .auth-wrapper .auth-box .instructions-sets a {
    white-space: nowrap;
  }
  .pass-instruction-sets {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 2px dashed #e9ecef;
    padding: 18px 24px !important;
  }
  .pass-instruction-sets:hover {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 2px dashed #2962ff;
  }
  .pass-instruction-sets a {
    white-space: nowrap;
  }
}
