<head>

    <meta charset="utf-8" />
    <title>@ViewData["Title"] - TAN Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <link href="~/chosen/chosen.css" rel="stylesheet" />
    <link href="~/chosen/chosen.min.css" rel="stylesheet" />

    <!-- jsvectormap css -->
    <link href="~/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <!-- Layout config Js -->
    <script src="~/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    @*<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/css/custom.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- Sweet Alert css-->
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!--datatable css-->
    <link rel="stylesheet" href="~/assets/libs/bootstrap/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="~/assets/libs/bootstrap/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="~/assets/libs/bootstrap/css/responsive.bootstrap.min.css" />

    <!-- dropzone css -->
    <link rel="stylesheet" href="~/assets/libs/dropzone/dropzone.css" type="text/css" />
    <!-- Filepond css -->
    <link rel="stylesheet" href="~/assets/libs/filepond/filepond.min.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css">

    <!-- Autocomplete -->
    <link rel="stylesheet" href="~/assets/libs/tarekraafat/autocomplete.js/css/autoComplete.css">

    <!-- gridjs css -->
    <link rel="stylesheet" href="~/assets/libs/gridjs/theme/mermaid.min.css">

    <!--  <script src="~/assets/js/pages/jquery-3.6.3.min.js"></script>-->
    <style>
        #preloaderlight {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(21 22 26 / 19%) !important;
            z-index: 9999;
        }
    </style>
</head>