@{
    var mylayout = Context.Session.GetString("SelectedApp");
    if (mylayout != "Inventory")
    {
        Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutInventory.cshtml";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="flex-direction:column; height: 100vh;">
        <img src="../../assets/images/503-error.jpg" alt="img" class="w-25 h-auto" />
        <div class="pb-3 text-center">
            <h3 class="text-uppercase">THIS FEATURE IS CURRENTLY UNDER DEVELOPMENT AND NOT AVAILABLE.</h3>
            <p class="text-danger fs-5">PLEASE TRY AFTER SOME TIME</p>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn waves-effect waves-light btn-info">Back to home</a>
        </div>
    </div>
</body>
</html>