
<div class="card rounded-0">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table display table-bordered table-striped no-wrap w-100" id="dataServiceTable">
                <thead>
                    <tr>
                        <th>Facility Name</th>
                        <th>Provider Name</th>
                        <th>Account Number</th>
                        <th>Service Name</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>